/*****************************************************************************************
*													                                   	*
*									AnchorPane Styling                                  *
*									  			                                        *
*****************************************************************************************/
.root{
 	-fx-background-color: #0e0f11;
}

/****************************************************************************************
*																						*
*								      Button Styling									*
*																						*
*****************************************************************************************/

.button{
 	-fx-background-color: #DA1106;
}

/****************************************************************************************
*																						*
*								      Separator Styling									*
*																						*
*****************************************************************************************/
.separator:vertical, .separator *.line{
	
    -fx-border-color: #DA1106;
    -fx-border-width: 0.5px;
}

/****************************************************************************************
*																						*
*								      TextArea Styling									*
*																						*
*****************************************************************************************/
.text-area .content{
	-fx-background-color: #26282d;
	-fx-border-color: #DA1106;
	-fx-border-width: 0.4px;
}

.text-area{
	-fx-background-color: #DA1106;
}

TextFlow{
	-fx-background-color: #26282d;
	-fx-border-color: #DA1106;
	-fx-padding: 2 5 2 5;
}

/****************************************************************************************
*																						*
*								      Label Styling									    *
*																						*
*****************************************************************************************/
.label{
	-fx-text-fill: RED;
}

/****************************************************************************************
*																						*
*								      MenuBar Styling								    *
*																						*
*****************************************************************************************/
.menu-bar{
	-fx-background-color: #26282d;
}

.menu-item{
	-fx-background-color: #26282d;
}

.context-menu {
  -fx-background-color: #26282d;
  -fx-padding: 0 0 0 0;
}

.menu-item:hover{
  -fx-background-color: #DA1106;
}

.menu:hover, .menu:showing{
  -fx-background-color: #DA1106;
}